# Patterns of intentionally untracked files that Git should ignore

.task/
private/

# Build
webserver
db.events

# Devenv and direnv
.devenv*
devenv.local.nix
.direnv

# pre-commit
.pre-commit-config.yaml

# Roc
roc_nightly*
roc/

# IDE
.vscode/
