<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projektgruppenverteilung</title>

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="/assets/bulma/css/bulma.min.css"
        integrity="sha384-HmYpsz2Aa9Gh3JlkCoh8kUJ2mUKJKTnkyC2Lzt8aLzpPOpnDe8KpFE2xNiBpMDou">
    <script type="text/javascript" src="/assets/htmx/js/htmx.min.js"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"></script>
    <!-- <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> -->
    <!-- <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->

    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">Headline</p>
            <p class="subtitle">Projektgruppenverteilung</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Alle Kampagnen</h1>
            <div class="columns is-multiline">

                {% campaigns %}

                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title has-background-primary has-text-white">Neue Kampagne</p>
                        </div>
                        <div class="card-content">
                            <p>Neue Kampagne erstellen und Projekttage und Angebote anlegen.</p>
                        </div>
                        <div class="card-footer">
                            <a class="card-footer-item has-background-primary has-text-white"
                                hx-get="/openForm/newCampaign" hx-target="#formModal">
                                Start
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="formModal"></div>
</body>

</html>
