<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projektgruppenverteilung</title>

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="/assets/bulma-0.9.4/bulma/css/bulma.min.css"
        integrity="sha384-HmYpsz2Aa9Gh3JlkCoh8kUJ2mUKJKTnkyC2Lzt8aLzpPOpnDe8KpFE2xNiBpMDou">
    <!-- <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> -->
    <!-- <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <p class="title"> Headline</p>
            <p class="subtitle">Subtitle</p>
            <p>Hello, World!</p>
        </div>
    </section>
</body>

</html>
